<header>
  <nav class="navbar navbar-expand-lg py-3 py-lg-4 bg-primary border-bottom border-white">
    <div class="container justify-content-lg-start">
      <a class="navbar-brand font-shrikhand fs-4 fs-lg-5 text-white fst-italic" href="#">ALPHABOX+</a>
      
      <div class="navbar-collapse-outer navbar-bg-gradient flex-lg-grow-1 position-absolute top-0 start-0 end-0 w-100 position-lg-relative z-1">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 gap-2 gap-lg-6 pt-6 pt-lg-0">
            <li class="nav-item">
              <a class="nav-link text-center text-white" aria-current="page" href="#">產品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center text-white" href="#">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center text-white" href="#">最新消息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center text-white" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center text-white" href="#">聯絡我們</a>
            </li>
          </ul>
          <ul class="navbar-nav gap-2 gap-lg-2 pb-7 pb-lg-0 text-center">
            <li class="nav-item">
              <a class="nav-link text-center text-white" href="#">註冊</a>
            </li>
            <li class="nav-item me-lg-2">
              <a class="nav-link text-center text-white" href="#">登入</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn bg-white d-inline-block rounded-1 px-4 py-2 text-black" href="#"><i class="material-symbols-outlined align-bottom me-1">point_scan</i>訂閱</a>
            </li>
          </ul>
        </div>
      </div>

      <button class="navbar-toggler d-flex d-lg-none justify-content-center align-items-center p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-custom-icon d-block bg-white position-relative"></span>
      </button>
    </div>
  </nav>
</header>