<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ 虛擬陪伴平台 - 關於我們</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <section style="background-image: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000000 100%);">
      <div class="container">
        <div class="row pt-60 pt-lg-160 pb-8 pb-lg-10 justify-content-between align-items-end">
          <div class="col-lg-7">
            <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-6 mb-lg-8">關於我們</h2>
            <p class="fw-medium mb-0 mb-lg-3">創立於2021年，我們的使命是將科技與人性化設計相結合，為您打造最佳的3D立體投影陪伴機器人。憑藉創新的技術、卓越的研發團隊以及對品質的追求，我們致力於為全球用戶提供最先進且易用的陪伴機器人。</p>
          </div>
          <div class="col text-end">
            <p class="display-6">我們擁抱變革，追求技術創新，以提供更卓越的產品給全球用戶。</p>
            <p class="display-6">我們始終以用戶需求為核心，致力於提供最滿意的產品與服務。</p>
            <p class="display-6">我們堅持高品質標準，確保每一款產品都經過嚴格的測試與品質把控。</p>
            <p class="display-6">我們重視團隊協作，鼓勵創意交流，共同為實現願景而努力。</p>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
