<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ 虛擬陪伴平台 - 首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
  <section class="banner" style="background: no-repeat url('../assets/images/home_background.png') 50% 50% / cover;">
    <div class="container-fluid px-lg-14 pt-lg-11 pt-7 pb-8">
      <div class="row mb-8 mb-lg-11">
        <div class="col-lg-3 d-flex align-items-end order-lg-1">
          <p class="pb-1 border-bottom border-white fw-bold w-100 d-none d-lg-block"><a href="javascript:;">最新消息！新版本 v15.4 釋出，搶先體驗！</a></p>
        </div>
        <div class="col text-center order-2">
          <img src="../assets/images/circle.png" alt="" class="img-fluid rotateAnimate" style="width: 196px;">
        </div>
        <div class="col-lg-3 d-flex flex-column justify-content-between order-1 order-lg-3">
          <p class="pt-1 border-top border-white fw-bold text-spacing-10 mb-auto">ALPHABOX+ STUDIO</p>
          <p class="text-secondary fw-medium text-spacing-10 d-none d-lg-block">Copyright © 2023 Hexschool.</p>
        </div>
      </div>
      <div class="row mb-8 d-lg-none">
        <div class="col">
          <ul class="list-unstyled mb-0 d-flex justify-content-between fs-3 fs-lg-5 font-shrikhand w-100">
            <li>A</li>
            <li>L</li>
            <li>P</li>
            <li>H</li>
            <li>A</li>
            <li>B</li>
            <li>O</li>
            <li>X</li>
            <li>+</li>
          </ul>
          <p class="fw-bold w-100 text-center text-spacing-5">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
        </div>
      </div>
      <div class="row row-cols-1 align-items-end gy-4 position-relative z-5">
        <div class="col-lg-3">
          <div class="card box-shadow-hover overflow-hidden">
            <img src="../assets/images/diane.png" alt="Diane" class="card-img d-none d-lg-block">
            <img src="../assets/images/diane_square1.png" alt="Diane" class="card-img d-lg-none">
            <div class="card-img-overlay">
              <p class="card-title font-shrikhand fst-italic text-white text-center fs-5">Diane</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-6 d-none d-lg-block">
            <ul class="list-unstyled mb-0 d-flex justify-content-between fs-3 fs-lg-5 font-shrikhand w-100">
              <li>A</li>
              <li>L</li>
              <li>P</li>
              <li>H</li>
              <li>A</li>
              <li>B</li>
              <li>O</li>
              <li>X</li>
              <li>+</li>
            </ul>
            <p class="fw-bold w-100 text-center text-spacing-16">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          </div>
          <div class="row row-cols-1 row-cols-lg-2 gy-4">
            <div class="col">
              <div class="card box-shadow-hover overflow-hidden">
                <img src="../assets/images/felix.png" alt="Felix" class="card-img d-none d-lg-block">
                <img src="../assets/images/felix_square1.png" alt="Felix" class="card-img d-lg-none">
                <div class="card-img-overlay">
                  <p class="card-title font-shrikhand fst-italic text-white text-center fs-5">Felix</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card box-shadow-hover overflow-hidden">
                <img src="../assets/images/karina.png" alt="Karina" class="card-img d-none d-lg-block">
                <img src="../assets/images/karina_square1.png" alt="Karina" class="card-img d-lg-none">
                <div class="card-img-overlay">
                  <p class="card-title font-shrikhand fst-italic text-white text-center fs-5">Karina</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card box-shadow-hover overflow-hidden">
            <img src="../assets/images/vito.png" alt="Vito" class="card-img d-none d-lg-block">
            <img src="../assets/images/vito_square1.png" alt="Vito" class="card-img d-lg-none">
            <div class="card-img-overlay">
              <p class="card-title font-shrikhand fst-italic text-white text-center fs-5">Vito</p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>

  <section class="position-relative whatIs-section z-3" style="background-image: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000000 100%);">
    <div class="border-bottom border-white">
      <div class="container-fluid px-lg-14">
        <div class="gradientBlock gradientBlock-top position-relative pt-11 pt-lg-10 pb-5 pb-lg-4">
          <h2 class="fs-4 fs-lg-7 lh-base text-white fw-bold text-spacing-16">什麼是<br>ALPHABOX+</h2>
        </div>
      </div>
    </div>
    <div class="container-fluid px-lg-14">
      <div class="gradientBlock gradientBlock-rereverse gradientBlock-bottom position-relative pt-4 pt-lg-8 pb-13">
        <!-- swiper -->
        <div class="swiper" id="whatIs">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="w-100 h-100 p-4 p-lg-9 d-flex align-items-end align-items-lg-center justify-content-lg-end" style="background: no-repeat url('../assets/images/carousel.png') 50% 50% / cover;">
                <div class="text-start text-lg-end">
                  <p class="font-shrikhand fs-8 fs-lg-6">01</p>
                  <p class="fw-bold mb-2 mb-lg-4 fs-4 fs-lg-5 text-spacing-24 text-spacing-lg-32">立體投影技術</p>
                  <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="w-100 h-100 p-4 p-lg-9 d-flex align-items-end align-items-lg-center justify-content-lg-end" style="background: no-repeat url('../assets/images/carousel.png') 50% 50% / cover;">
                <div class="text-start text-lg-end">
                  <p class="font-shrikhand fs-8 fs-lg-6">02</p>
                  <p class="fw-bold mb-2 mb-lg-4 fs-4 fs-lg-5 text-spacing-24 text-spacing-lg-32">立體投影技術</p>
                  <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="w-100 h-100 p-4 p-lg-9 d-flex align-items-end align-items-lg-center justify-content-lg-end" style="background: no-repeat url('../assets/images/carousel.png') 50% 50% / cover;">
                <div class="text-start text-lg-end">
                  <p class="font-shrikhand fs-8 fs-lg-6">03</p>
                  <p class="fw-bold mb-2 mb-lg-4 fs-4 fs-lg-5 text-spacing-24 text-spacing-lg-32">立體投影技術</p>
                  <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="d-none d-lg-block">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </section>

  <section style="background-image: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000000 100%);">
    <div class="container">
      <div class="pt-60 pb-14 pt-lg-160 pb-lg-9">
        <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 mb-8 mb-lg-9">最新消息</h2>
        <div class="row border-top border-white">
          <div class="col-12 position-relative border-bottom border-white">
            <div class="py-8 py-lg-9 px-4">
              <div class="mb-3">
                <time class="icon-time ps-9 mb-2 fw-bold text-spacing-16">2023.06.30</time>
                <p class="fw-bold text-spacing-20">產品升級公告</p>
              </div>
              <div class="row">
                <div class="col-lg-9">
                  <p class="fw-bold">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                </div>
                <div class="col-lg-3">
                  <a href="javascript:;" class="d-inline-block icon-line-end-arrow icon-line-end-arrow-lg stretched-link">Go</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 position-relative border-end-0 border-end-lg border-bottom border-white ">
            <div class="py-8 py-lg-9 px-4">
              <div class="mb-3">
                <time class="icon-time ps-9 mb-2 fw-bold text-spacing-16">2023.06.30</time>
                <p class="fw-bold text-spacing-20">限時優惠活動</p>
              </div>
              <p class="fw-bold mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
              <a href="javascript:;" class="d-inline-block icon-line-end-arrow icon-line-end-arrow-sm stretched-link">Go</a>
            </div>
          </div>
          <div class="col-lg-6 position-relative border-bottom border-white">
            <div class="py-8 py-lg-9 px-4">
              <div class="mb-3">
                <time class="icon-time ps-9 mb-2 fw-bold text-spacing-16">2023.04.16</time>
                <p class="fw-bold text-spacing-20">新功能上線</p>
              </div>
              <p class="fw-bold mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
              <a href="javascript:;" class="d-inline-block icon-line-end-arrow icon-line-end-arrow-sm stretched-link">Go</a>
            </div>
          </div>
          <div class="col-12 text-center mt-9 mt-lg-14">
            <a href="javascript:;" class="d-inline-block"><img src="../assets/images/circle_more.png" alt="more" class="img-fluid" style="width: 132px;"></a>
            <p class="fw-bold text-end d-none d-lg-block mt-15">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="news-swiper" style="background-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, #28085C 100%);">
    <div class="container">
      <div class="row pt-60 pt-lg-160 mb-4 mb-lg-6">
        <div class="col-lg-5">
          <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-4">使用分享</h2>
          <div class="d-none d-lg-block">
            <p class="fw-bold mb-9 align-items-center d-flex">01<span class="material-symbols-outlined d-inline-block px-1">horizontal_rule</span>04</p>
            <p><span class="material-symbols-outlined d-inline-block fs-10 text-white lh-1">emergency</span></p>
          </div>
        </div>
        <div class="col-12 col-lg mb-6">
          <p class="fw-bold mb-6 align-items-center d-flex d-lg-none">01<span class="material-symbols-outlined d-inline-block px-1">horizontal_rule</span>04</p>
          <p class="fw-bold py-0 py-lg-6">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
        <div class="col d-block d-lg-none">
          <p><span class="material-symbols-outlined d-inline-block fs-10 text-white lh-1">emergency</span></p>
        </div>
      </div>
    </div>

    <div class="overflow-hidden bg-text">
      <div class="container">
        <div class="row d-none d-md-block position-relative pb-9">
          <div class="swiper swiperNews" id="swiperNews" style="overflow: inherit;">
            <ul class="swiper-wrapper list-unstyled mb-0">
              <li class="swiper-slide">
                <div class="card bg-primary-400" style="height: 416px;">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Zona<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                      <p class="fw-bold">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Dianne</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card bg-white text-black" style="height: 416px;">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Lin<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Chiayi</p>
                      <p class="fw-bold">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card bg-primary-400" style="height: 416px;">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">云<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                      <p class="fw-bold">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Dianne</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card bg-white text-black" style="height: 416px;">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Zichi<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Kaohsiung</p>
                      <p class="fw-bold">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Vito</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="row align-items-center mt-5" style="margin-bottom: 124px;">
            <div class="col-8">
              <!-- 加上 position-static 將滾動條的絕對定位設定覆蓋 -->
              <div class="swiper-scrollbar position-static"></div>
            </div>
            <div class="col-1">
              <p class="mb-0 text-white">SCROLL</p>
            </div>
          </div>
          <p class="fw-bold">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
        </div>
        <ul class="row row-cols-1 g-6 d-md-none mb-0 pb-60 list-unstyled">
          <li class="col">
            <div class="card bg-primary-400" style="height: 351px;">
              <div class="card-body p-6 d-flex flex-column">
                <div>
                  <p class="card-title fw-bold mb-8 d-flex align-items-center">Zona<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                  <p class="fw-bold">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                </div>
                <div class="mt-auto d-flex align-items-center">
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                  <span class="d-inline-block fw-bold">ALPHABOX+ Dianne</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card bg-white text-black" style="height: 351px;">
              <div class="card-body p-6 d-flex flex-column">
                <div>
                  <p class="card-title fw-bold mb-8 d-flex align-items-center">Lin<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Chiayi</p>
                  <p class="fw-bold">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                </div>
                <div class="mt-auto d-flex align-items-center">
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                  <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card bg-primary-400" style="height: 351px;">
              <div class="card-body p-6 d-flex flex-column">
                <div>
                  <p class="card-title fw-bold mb-8 d-flex align-items-center">云<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                  <p class="fw-bold">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                </div>
                <div class="mt-auto d-flex align-items-center">
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                  <span class="d-inline-block fw-bold">ALPHABOX+ Dianne</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card bg-white text-black" style="height: 351px;">
              <div class="card-body p-6 d-flex flex-column">
                <div>
                  <p class="card-title fw-bold mb-8 d-flex align-items-center">Zichi<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Kaohsiung</p>
                  <p class="fw-bold">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                </div>
                <div class="mt-auto d-flex align-items-center">
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                  <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                  <span class="d-inline-block fw-bold">ALPHABOX+ Vito</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
  </section>

  <section class="bg-primary-600">
    <div class="container">
      <div class="row pt-60 pb-14 py-lg-18">
        <div class="col-lg-5 mb-6">
          <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-5">聯絡我們</h2>
          <div class="d-flex align-items-center mb-8 mb-lg-10"><span class="d-block w-2 w-lg-3 h-2 h-lg-3 rounded-circle bg-white me-2"></span><span class="d-block rounded-3 h-2 h-lg-3 bg-white" style="width: 124px;"></span></div>
          <p class="fw-bold mb-1">讓科技成為您的最佳夥伴</p>
          <p class="fw-bold">立即體驗神奇功能並享限時優惠！</p>
        </div>
        <div class="col">
          <p><span class="material-symbols-outlined d-inline-block fs-10 text-white lh-1 mb-4">emergency</span></p>
          <form id="contact-form">
            <div class="form-floating mb-4">
              <input type="email" class="form-control text-black fw-medium" id="email" placeholder="EMAIL">
              <label for="email" class="text-black fw-bold">EMAIL</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control mb-4 text-black py-4 px-4 fw-medium" style="height: 120px; resize: none;" placeholder="COMMENTS" id="contactComments"></textarea>
              <label for="contactComments" class="text-black fw-bold">COMMENTS</label>
            </div>
            <div class="text-lg-end">
              <button type="button" class="btn btn-primary-300 col-12 col-lg-7"><i class="material-symbols-outlined align-bottom me-1">point_scan</i>送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="aiList-content">
    <ul class="d-flex flex-wrap list-unstyled mb-0">
      <li class="col-6 col-lg-3">
        <a href="javascript:;" class="card border-0 py-6 px-3 pt-md-6 px-md-9 pb-md-11" style="background-image: url('../assets/images/diane_vertical.png');">
          <h3 class="font-shrikhand fw-bold fst-italic d-flex flex-column align-items-center fs-4 fs-md-5 mb-4 mb-md-14"><span class="font-saira fw-light fs-14 fs-md-400 mb-4 mb-md-5 fst-normal">1</span>Diane</h3>
          <div class="d-flex flex-column flex-xxl-row align-items-xxl-end justify-content-between">
            <div class="text-white">
              <h4 class="h6 fw-bold mb-0 lh-base">知識型</h4>
              <p class="mb-0">學術領導/知識分享/智能問答</p>
            </div>
            <img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="javascript:;" class="card border-0 py-6 px-3 pt-md-6 px-md-9 pb-md-11" style="background-image: url('../assets/images/felix_vertical.png');">
          <h3 class="font-shrikhand fw-bold fst-italic d-flex flex-column align-items-center fs-4 fs-md-5 mb-4 mb-md-14"><span class="font-saira fw-light fs-14 fs-md-400 mb-4 mb-md-5 fst-normal">2</span>Felix</h3>
          <div class="d-flex flex-column flex-xxl-row align-items-xxl-end justify-content-between">
            <div class="text-white">
              <h4 class="h6 fw-bold mb-0 lh-base">娛樂型</h4>
              <p class="mb-0">音樂播放/語音互動/遊戲陪伴</p>
            </div>
            <img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="javascript:;" class="card border-0 py-6 px-3 pt-md-6 px-md-9 pb-md-11" style="background-image: url('../assets/images/karina_verticalgle.png');">
          <h3 class="font-shrikhand fw-bold fst-italic d-flex flex-column align-items-center fs-4 fs-md-5 mb-4 mb-md-14"><span class="font-saira fw-light fs-14 fs-md-400 mb-4 mb-md-5 fst-normal">3</span>Karina</h3>
          <div class="d-flex flex-column flex-xxl-row align-items-xxl-end justify-content-between">
            <div class="text-white">
              <h4 class="h6 fw-bold mb-0 lh-base">生活型</h4>
              <p class="mb-0">健康提醒/日程安排/智能家居</p>
            </div>
            <img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow">
          </div>
        </a>
      </li>
      <li class="col-6 col-lg-3">
        <a href="javascript:;" class="card border-0 py-6 px-3 pt-md-6 px-md-9 pb-md-11" style="background-image: url('../assets/images/vito_vertical.png');">
          <h3 class="font-shrikhand fw-bold fst-italic d-flex flex-column align-items-center fs-4 fs-md-5 mb-4 mb-md-14"><span class="font-saira fw-light fs-14 fs-md-400 mb-4 mb-md-5 fst-normal">4</span>Vito</h3>
          <div class="d-flex flex-column flex-xxl-row align-items-xxl-end justify-content-between">
            <div class="text-white">
              <h4 class="h6 fw-bold mb-0 lh-base">情感型</h4>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow">
          </div>
        </a>
      </li>
    </ul>
  </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
