<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ 虛擬陪伴平台 - 產品</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <ul class="nav nav-pills bg-black justify-content-center py-4" id="pills-tab" role="tablist">
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent active" id="pills-diane-tab" data-bs-toggle="pill" data-bs-target="#pills-diane" type="button" role="tab" aria-controls="pills-diane" aria-selected="true">Diane</button>
      </li>
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent" id="pills-felix-tab" data-bs-toggle="pill" data-bs-target="#pills-felix" type="button" role="tab" aria-controls="pills-felix" aria-selected="false">Felix</button>
      </li>
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent" id="pills-karina-tab" data-bs-toggle="pill" data-bs-target="#pills-karina" type="button" role="tab" aria-controls="pills-karina" aria-selected="false">Karina</button>
      </li>
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent" id="pills-vito-tab" data-bs-toggle="pill" data-bs-target="#pills-vito" type="button" role="tab" aria-controls="pills-vito" aria-selected="false">Vito</button>
      </li>
    </ul>
    <div class="tab-content text-white aiProduct-pillContent" id="pills-ai-product">
      <div class="tab-pane fade show active" id="pills-diane" role="tabpanel" aria-labelledby="pills-diane-tab" tabindex="0">
        <div class="row g-0 position-relative z-1 bg-black">
          <div class="col-lg-6">
            <div class="swiper ai-products">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/diane_square1.png" class="img-fluid" loading="lazy" alt="Diane-1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/diane_square2.png" class="img-fluid" loading="lazy" alt="Diane-2">
                </div>
              </div>
              <div class="swiper-buttonWrap">
                <div class="swiper-button-prev"><span class="material-symbols-outlined">arrow_circle_left</span></div>
                <div class="swiper-button-next"><span class="material-symbols-outlined">arrow_circle_right</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pb-6 px-3 px-lg-9 pt-lg-0 pb-lg-0">
            <div class="mb-4 mb-lg-0">
              <p class="font-shrikhand fst-italic fs-6 fs-lg-8 mb-0 mb-lg-6">Diane</p>
              <div class="mb-2 mb-lg-4">
                <p class="fw-bold">知識型</p>
                <p>學術領導/知識分享/智能問答</p>
              </div>
              <a href="javascript:;" class="d-block lh-0"><img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow"></a>
            </div>
            <div class="text-center">
              <img src="../assets/images/linked_path_group.png" class="img-fluid z-5 arrowIcon" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row text-black pt-60 pt-lg-14 justify-content-between">
            <div class="col-lg-4 mb-8 mb-lg-0">
              <p class="mb-6 mb-lg-8 d-flex align-items-center"><span class="material-symbols-outlined d-inline-block me-3 fs-6">emergency</span>學術領導/知識分享/智能問答</p>
              <p class="fw-medium">歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！</p>
            </div>
            <div class="col d-none d-lg-block">
              <p class="text-end">ALPHABOX+</p>
            </div>
          </div>
          <ul class="row pt-8 pb-14 py-lg-17 mb-0 list-unstyled row-cols-1 row-cols-lg-3 text-black g-6 product-features">
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">先進的3D投影技術</a>
              <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">人性化的互動設計</a>
              <p>Diane 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Diane 進行自然、流暢的對話。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">豐富的應用場景</a>
              <p>無論是家庭娛樂、教育培訓還是商業展示，Diane 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">高度自主性</a>
              <p>Diane 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">簡單易用的操作界面</a>
              <p>Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
            </li>
          </ul>
          <div class="row pt-60 pb-14 py-lg-160">
            <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-4">使用分享</h2>
          </div>
        </div>
      </div>



      <div class="tab-pane fade" id="pills-felix" role="tabpanel" aria-labelledby="pills-felix-tab" tabindex="0">
        Felix
      </div>
      <div class="tab-pane fade" id="pills-karina" role="tabpanel" aria-labelledby="pills-karina-tab" tabindex="0">karina</div>
      <div class="tab-pane fade" id="pills-vito" role="tabpanel" aria-labelledby="pills-vito-tab" tabindex="0">Vito.</div>
    </div>
  
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
