<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ 虛擬陪伴平台 - 產品</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <ul class="nav nav-pills bg-black justify-content-center py-4" id="pills-tab" role="tablist">
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent active" id="pills-diane-tab" data-bs-toggle="pill" data-bs-target="#pills-diane" type="button" role="tab" aria-controls="pills-diane" aria-selected="true">Diane</button>
      </li>
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent" id="pills-felix-tab" data-bs-toggle="pill" data-bs-target="#pills-felix" type="button" role="tab" aria-controls="pills-felix" aria-selected="false">Felix</button>
      </li>
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent" id="pills-karina-tab" data-bs-toggle="pill" data-bs-target="#pills-karina" type="button" role="tab" aria-controls="pills-karina" aria-selected="false">Karina</button>
      </li>
      <li class="nav-item mx-1 mx-lg-3" role="presentation">
        <button class="nav-link py-1 px-4 px-md-10 px-xl-14 text-white font-shrikhand fst-italic fs-2 fs-lg-4 border border-white rounded-40 bg-transparent" id="pills-vito-tab" data-bs-toggle="pill" data-bs-target="#pills-vito" type="button" role="tab" aria-controls="pills-vito" aria-selected="false">Vito</button>
      </li>
    </ul>

    <div class="tab-content text-white aiProduct-pillContent" id="pills-ai-product">
      <!-- Diane -->
      <div class="tab-pane fade show active" id="pills-diane" role="tabpanel" aria-labelledby="pills-diane-tab" tabindex="0">
        <div class="row g-0 position-relative z-1 bg-black">
          <div class="col-lg-6">
            <div class="swiper ai-products">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/diane_square1.png" class="img-fluid" loading="lazy" alt="Diane-1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/diane_square2.png" class="img-fluid" loading="lazy" alt="Diane-2">
                </div>
              </div>
              <div class="swiper-buttonWrap">
                <div class="swiper-button-prev"><span class="material-symbols-outlined">arrow_circle_left</span></div>
                <div class="swiper-button-next"><span class="material-symbols-outlined">arrow_circle_right</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pb-6 px-3 px-lg-9 pt-lg-0 pb-lg-0">
            <div class="mb-4 mb-lg-0">
              <p class="font-shrikhand fst-italic fs-6 fs-lg-8 mb-0 mb-lg-6">Diane</p>
              <div class="mb-2 mb-lg-4">
                <p class="fw-bold">知識型</p>
                <p>學術領導/知識分享/智能問答</p>
              </div>
              <a href="javascript:;" class="d-inline-block lh-0 opacity-50-hover transition-all"><img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow"></a>
            </div>
            <div class="text-center">
              <img src="../assets/images/linked_path_group.png" class="img-fluid z-5 arrowIcon" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row text-black pt-60 pt-lg-14 justify-content-between">
            <div class="col-lg-4 mb-8 mb-lg-0">
              <p class="mb-6 mb-lg-8 d-flex align-items-center"><span class="material-symbols-outlined d-inline-block me-3 fs-6">emergency</span>學術領導/知識分享/智能問答</p>
              <p class="fw-medium">歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Diane！</p>
            </div>
            <div class="col d-none d-lg-block">
              <p class="text-end">ALPHABOX+</p>
            </div>
          </div>
          <ul class="row pt-8 pb-14 py-lg-17 mb-0 list-unstyled row-cols-1 row-cols-lg-3 text-black g-6 product-features">
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">先進的3D投影技術</a>
              <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">人性化的互動設計</a>
              <p>Diane 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Diane 進行自然、流暢的對話。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">豐富的應用場景</a>
              <p>無論是家庭娛樂、教育培訓還是商業展示，Diane 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">高度自主性</a>
              <p>Diane 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">簡單易用的操作界面</a>
              <p>Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
            </li>
          </ul>
        </div>
        <div style="background-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, #28085C 100%);">
          <div class="container">
            <div class="row pt-60 pt-lg-160 pb-6 pb-lg-14 ">
              <div class="col-lg-4">
                <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-4 mb-lg-3">使用分享</h2>
                <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
              </div>
            </div>
            <ul class="list-unstyled mb-0 row row-cols-1 row-cols-lg-3 g-6 pb-14 pb-lg-216">
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Zichi<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Kaohsiung</p>
                      <p class="fw-bold">ALPHABOX+ 自從家裡有了Felix，孩子們的學習興趣提高了不少，他們都喜歡透過Felix的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-white text-black ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Lee<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Chiayi</p>
                      <p class="fw-bold">自從公司引入 Felix，員工的工作效率提升了很多。Felix 不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">瑞<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                      <p class="fw-bold">Felix 讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Felix給所有的教育工作者！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Felix -->
      <div class="tab-pane fade" id="pills-felix" role="tabpanel" aria-labelledby="pills-felix-tab" tabindex="0">
        <div class="row g-0 position-relative z-1 bg-black">
          <div class="col-lg-6">
            <div class="swiper ai-products">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/felix_square1.png" class="img-fluid" loading="lazy" alt="Felix-1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/felix_square2.png" class="img-fluid" loading="lazy" alt="Felix-2">
                </div>
              </div>
              <div class="swiper-buttonWrap">
                <div class="swiper-button-prev"><span class="material-symbols-outlined">arrow_circle_left</span></div>
                <div class="swiper-button-next"><span class="material-symbols-outlined">arrow_circle_right</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pb-6 px-3 px-lg-9 pt-lg-0 pb-lg-0">
            <div class="mb-4 mb-lg-0">
              <p class="font-shrikhand fst-italic fs-6 fs-lg-8 mb-0 mb-lg-6">Felix</p>
              <div class="mb-2 mb-lg-4">
                <p class="fw-bold">娛樂型</p>
                <p>健康提醒/日程安排/智能家居</p>
              </div>
              <a href="javascript:;" class="d-inline-block lh-0"><img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow"></a>
            </div>
            <div class="text-center">
              <img src="../assets/images/linked_path_group.png" class="img-fluid z-5 arrowIcon" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row text-black pt-60 pt-lg-14 justify-content-between">
            <div class="col-lg-4 mb-8 mb-lg-0">
              <p class="mb-6 mb-lg-8 d-flex align-items-center"><span class="material-symbols-outlined d-inline-block me-3 fs-6">emergency</span>健康提醒/日程安排/智能家居</p>
              <p class="fw-medium">歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！</p>
            </div>
            <div class="col d-none d-lg-block">
              <p class="text-end">ALPHABOX+</p>
            </div>
          </div>
          <ul class="row pt-8 pb-14 py-lg-17 mb-0 list-unstyled row-cols-1 row-cols-lg-3 text-black g-6 product-features">
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">先進的3D投影技術</a>
              <p>Felix 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">人性化的互動設計</a>
              <p>Felix 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Felix 進行自然、流暢的對話。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">豐富的應用場景</a>
              <p>無論是家庭娛樂、教育培訓還是商業展示，Felix 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">高度自主性</a>
              <p>Felix 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">簡單易用的操作界面</a>
              <p>Felix 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
            </li>
          </ul>
        </div>
        <div style="background-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, #28085C 100%);">
          <div class="container">
            <div class="row pt-60 pt-lg-160 pb-6 pb-lg-14 ">
              <div class="col-lg-4">
                <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-4 mb-lg-3">使用分享</h2>
                <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
              </div>
            </div>
            <ul class="list-unstyled mb-0 row row-cols-1 row-cols-lg-3 g-6 pb-14 pb-lg-216">
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Zichi<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Kaohsiung</p>
                      <p class="fw-bold">ALPHABOX+ 自從家裡有了Felix，孩子們的學習興趣提高了不少，他們都喜歡透過Felix的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-white text-black ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Lee<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Chiayi</p>
                      <p class="fw-bold">自從公司引入 Felix，員工的工作效率提升了很多。Felix 不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">瑞<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                      <p class="fw-bold">Felix 讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Felix給所有的教育工作者！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Felix</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Karina -->
      <div class="tab-pane fade" id="pills-karina" role="tabpanel" aria-labelledby="pills-karina-tab" tabindex="0">
        <div class="row g-0 position-relative z-1 bg-black">
          <div class="col-lg-6">
            <div class="swiper ai-products">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/karina_square1.png" class="img-fluid" loading="lazy" alt="Karina-1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/karina_square2.png" class="img-fluid" loading="lazy" alt="Karina-2">
                </div>
              </div>
              <div class="swiper-buttonWrap">
                <div class="swiper-button-prev"><span class="material-symbols-outlined">arrow_circle_left</span></div>
                <div class="swiper-button-next"><span class="material-symbols-outlined">arrow_circle_right</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pb-6 px-3 px-lg-9 pt-lg-0 pb-lg-0">
            <div class="mb-4 mb-lg-0">
              <p class="font-shrikhand fst-italic fs-6 fs-lg-8 mb-0 mb-lg-6">Karina</p>
              <div class="mb-2 mb-lg-4">
                <p class="fw-bold">生活型</p>
                <p>健康提醒/日程安排/智能家居</p>
              </div>
              <a href="javascript:;" class="d-inline-block lh-0"><img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow"></a>
            </div>
            <div class="text-center">
              <img src="../assets/images/linked_path_group.png" class="img-fluid z-5 arrowIcon" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row text-black pt-60 pt-lg-14 justify-content-between">
            <div class="col-lg-4 mb-8 mb-lg-0">
              <p class="mb-6 mb-lg-8 d-flex align-items-center"><span class="material-symbols-outlined d-inline-block me-3 fs-6">emergency</span>健康提醒/日程安排/智能家居</p>
              <p class="fw-medium">歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Karina！</p>
            </div>
            <div class="col d-none d-lg-block">
              <p class="text-end">ALPHABOX+</p>
            </div>
          </div>
          <ul class="row pt-8 pb-14 py-lg-17 mb-0 list-unstyled row-cols-1 row-cols-lg-3 text-black g-6 product-features">
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">先進的3D投影技術</a>
              <p>Karina 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">人性化的互動設計</a>
              <p>Karina 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Karina 進行自然、流暢的對話。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">豐富的應用場景</a>
              <p>無論是家庭娛樂、教育培訓還是商業展示，Karina 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">高度自主性</a>
              <p>Karina 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">簡單易用的操作界面</a>
              <p>Karina 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
            </li>
          </ul>
        </div>
        <div style="background-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, #28085C 100%);">
          <div class="container">
            <div class="row pt-60 pt-lg-160 pb-6 pb-lg-14 ">
              <div class="col-lg-4">
                <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-4 mb-lg-3">使用分享</h2>
                <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
              </div>
            </div>
            <ul class="list-unstyled mb-0 row row-cols-1 row-cols-lg-3 g-6 pb-14 pb-lg-216">
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Zichi<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Kaohsiung</p>
                      <p class="fw-bold">ALPHABOX+ 自從家裡有了Karina，孩子們的學習興趣提高了不少，他們都喜歡透過Karina的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Karina</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-white text-black ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Lee<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Chiayi</p>
                      <p class="fw-bold">自從公司引入 Karina，員工的工作效率提升了很多。Karina 不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Karina</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">瑞<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                      <p class="fw-bold">Karina 讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Karina給所有的教育工作者！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Karina</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Vito -->
      <div class="tab-pane fade" id="pills-vito" role="tabpanel" aria-labelledby="pills-vito-tab" tabindex="0">
        <div class="row g-0 position-relative z-1 bg-black">
          <div class="col-lg-6">
            <div class="swiper ai-products">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/vito_square1.png" class="img-fluid" loading="lazy" alt="Vito-1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/vito_square2.png" class="img-fluid" loading="lazy" alt="Vito-2">
                </div>
              </div>
              <div class="swiper-buttonWrap">
                <div class="swiper-button-prev"><span class="material-symbols-outlined">arrow_circle_left</span></div>
                <div class="swiper-button-next"><span class="material-symbols-outlined">arrow_circle_right</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pb-6 px-3 px-lg-9 pt-lg-0 pb-lg-0">
            <div class="mb-4 mb-lg-0">
              <p class="font-shrikhand fst-italic fs-6 fs-lg-8 mb-0 mb-lg-6">Vito</p>
              <div class="mb-2 mb-lg-4">
                <p class="fw-bold">情感型</p>
                <p>情感識別/心情分析/心靈支持</p>
              </div>
              <a href="javascript:;" class="d-inline-block lh-0"><img src="../assets/images/line_end_arrow_notch.png" class="img-fluid" alt="arrow"></a>
            </div>
            <div class="text-center">
              <img src="../assets/images/linked_path_group.png" class="img-fluid z-5 arrowIcon" alt="">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row text-black pt-60 pt-lg-14 justify-content-between">
            <div class="col-lg-4 mb-8 mb-lg-0">
              <p class="mb-6 mb-lg-8 d-flex align-items-center"><span class="material-symbols-outlined d-inline-block me-3 fs-6">emergency</span>情感識別/心情分析/心靈支持</p>
              <p class="fw-medium">歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Vito！</p>
            </div>
            <div class="col d-none d-lg-block">
              <p class="text-end">ALPHABOX+</p>
            </div>
          </div>
          <ul class="row pt-8 pb-14 py-lg-17 mb-0 list-unstyled row-cols-1 row-cols-lg-3 text-black g-6 product-features">
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">先進的3D投影技術</a>
              <p>Vito 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">人性化的互動設計</a>
              <p>Vito 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Vito 進行自然、流暢的對話。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">豐富的應用場景</a>
              <p>無論是家庭娛樂、教育培訓還是商業展示，Vito 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">高度自主性</a>
              <p>Vito 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
            </li>
            <li class="col position-relative min-height-204">
              <a href="javascript:;" class="fw-bold mb-4 mb-lg-5 text-black stretched-link">簡單易用的操作界面</a>
              <p>Vito 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
            </li>
          </ul>
        </div>
        <div style="background-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, #28085C 100%);">
          <div class="container">
            <div class="row pt-60 pt-lg-160 pb-6 pb-lg-14 ">
              <div class="col-lg-4">
                <h2 class="fw-bold lh-base fs-6 fs-lg-7 text-spacing-40 text-spacing-lg-48 d-inline-block mb-4 mb-lg-3">使用分享</h2>
                <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
              </div>
            </div>
            <ul class="list-unstyled mb-0 row row-cols-1 row-cols-lg-3 g-6 pb-14 pb-lg-216">
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Zichi<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Kaohsiung</p>
                      <p class="fw-bold">ALPHABOX+ 自從家裡有了Vito，孩子們的學習興趣提高了不少，他們都喜歡透過Vito的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Vito</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-white text-black ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">Lee<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-black"></span>Chiayi</p>
                      <p class="fw-bold">自從公司引入 Vito，員工的工作效率提升了很多。Vito 不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-black me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Vito</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col">
                <div class="card bg-primary-400 ratio ratio-1x1">
                  <div class="card-body p-6 d-flex flex-column">
                    <div>
                      <p class="card-title fw-bold mb-8 d-flex align-items-center">瑞<span class="mx-2 d-inline-block h-2 w-2 rounded-circle bg-white"></span>Taipei</p>
                      <p class="fw-bold">Vito 讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Vito給所有的教育工作者！</p>
                    </div>
                    <div class="mt-auto d-flex align-items-center">
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block h-4 w-4 rounded-circle bg-white me-4"></span>
                      <span class="d-inline-block fw-bold">ALPHABOX+ Vito</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
